footer {
  background-color: lightgrey;
  height: 100px;
  line-height: 100px;
  text-align: center;
  position: absolute;
  bottom: 0;
  min-width: 100vw;
}

footer p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
